global-exclude *.pyc
global-exclude __pycache__
recursive-include {{cookiecutter.project_name}}/* *.json
include LICENSE
include requirements.txt

exclude .readthedocs.yml
exclude tox.ini
exclude Makefile
exclude .pylintrc
exclude .pre-commit-config.yaml
exclude scripts/generate_cookie.sh

prune docs
prune tests
prune examples
prune {{cookiecutter.project_name}}/plugins
